li {
  font-size: 20px;
}


/*body {*/
  /*background-image: url("images/1600_106.jpg");*/
  /*background-size: cover;*/
  /*background-position: center;*/
/*}*/

.btn:focus, .btn:active {
   outline: none !important;
   box-shadow: none;
}
