{% load static %}

<link rel="stylesheet" href="{% static 'quiz_app/styles.css' %}">
<link rel="stylesheet" href="{% static 'quiz_app/bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Question</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="{% url 'quiz_app:index' %}">Go to Index</a>
            <a class="navbar-brand" href="{% url 'quiz_app:add_question' %}">Add Question</a>

          </div>

          <div class="navbar-right">
              <a class="navbar-brand" href="https://www.github.com">Github</a>
              <a class="navbar-brand" href="https://www.linkedin.com">LinkedIn</a>

          </div>

      </div>

    </nav>

    <div class="container-fluid">
    <h1>Add Question Here</h1>
    <form method="POST">
        {{ que_form.as_p }}
        {% csrf_token %}
      <input class="btn btn-success btn-lg" type="submit" value="Submit">

    </form>
    </div>
  </body>
</html>
