{% load static %}

<link rel="stylesheet" href="{% static 'quiz_app/style.css' %}">
<link rel="stylesheet" href="{% static 'quiz_app/bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>quiz</title>
  </head>
  <body>

    {% if latest_question_list %}

<ol>
  <div class="container">
      {% for question in latest_question_list %}

      <h3><li>{{ question.question_text }}</li></h3>

      <form action="{% url 'quiz_app:check' question.id %}" method="post">
      {% csrf_token %}
      {% for answer in question.answer_set.all %}
      <input class="btn btn-success btn-lg" type="submit" name="answer" value="{{ answer.answer_text }}">
      {% endfor %}

      </form>

      {% endfor %}

    {% else %}
    <p>No Questions Available!</p>
    {% endif %}

  </div>
</ol>

  </body>
</html>
