{% load static %}

<link rel="stylesheet" href="{% static 'quiz_app/styles.css' %}">
<link rel="stylesheet" href="{% static 'quiz_app/bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>quiz</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="{% url 'quiz_app:index' %}">Go to Index</a>
            <a class="navbar-brand" href="{% url 'quiz_app:add_question' %}">Add Question</a>

          </div>

          <div class="navbar-right">
              <a class="navbar-brand" href="https://www.github.com">Github</a>
              <a class="navbar-brand" href="https://www.linkedin.com">LinkedIn</a>

          </div>

      </div>

    </nav>

    {% if latest_question_list %}

<ol>
  <div class="container">
      {% for question in latest_question_list %}

      <h3><li>{{ question.question_text }}</li></h3>

      <form action="{% url 'quiz_app:check' question.id %}" method="post">
      {% csrf_token %}
      {% for answer in question.answer_set.all %}
      <input class="btn btn-success btn-lg" type="submit" name="answer" value="{{ answer.answer_text }}">
      {% endfor %}

      </form>

      {% endfor %}

    {% else %}
    <p>No Questions Available!</p>
    {% endif %}

  </div>
</ol>

  </body>
</html>
