{% load static %}

<link rel="stylesheet" href="{% static 'quiz_app/styles.css' %}">
<script src="{% static "quiz_app/meta.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
  </head>
  <body>
  <p id="csrf" hidden>{{ csrf_token }}</p>

  <div class="container text-center">
  {% if object_list %}
      {% for question in object_list %}
        <span id="question_{{ question.id }}">
      <h3>{{ forloop.counter0|add:page_obj.start_index }}. {{ question.question_text }}</h3>

          <p>
      {% for answer in question.answers.all %}
      <input class="btn btn-primary btn-lg" type="submit" id="answer_{{ answer.id }}" value="{{ answer.answer_text }}" onclick="answerSelected(this)">
      {% endfor %}
          </p>

        </span>
      {% endfor %}

    {% else %}
    <p>No Questions Available!</p>
    {% endif %}

    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
  </div>

  </body>
</html>
